.dfse-settings-table {
  min-width: 700px;
  border: 1px solid #ddd;
}

.dfse-settings-table th,
.dfse-settings-table td {
  border: 1px solid #ddd;
  padding: 8px 16px;
}

.dfse-status {
  text-transform: capitalize;
}

.dfse-actions {
  margin-top: 16px;
}

.dfse-actions > *:not(:first-child) {
  margin-left: 8px;
}

.button.button-dfse:disabled,
.button.button-dfse[disabled] {
  background: none !important;
}
